<?xml version="1.0" encoding="UTF-8"?>

<fop version="1.0">
  <renderers>
    <renderer mime="application/pdf">
      <fonts>
        <!-- København -->
        <font metrics-file="fonts/metrics/Raleway-Regular.xml" kerning="yes" embed-url="fonts/ttf/Raleway-Regular.ttf">
          <font-triplet name="SampleFont" style="normal" weight="normal"/>
        </font>
        <font metrics-file="fonts/metrics/Raleway-Italic.xml" kerning="yes" embed-url="fonts/ttf/Raleway-Italic.ttf">
          <font-triplet name="SampleFont" style="italic" weight="normal"/>
        </font>
        <font metrics-file="fonts/metrics/Raleway-Bold.xml" kerning="yes" embed-url="fonts/ttf/Raleway-Bold.ttf">
          <font-triplet name="SampleFont" style="normal" weight="bold"/>
        </font>
        <font metrics-file="fonts/metrics/Raleway-BoldItalic.xml" kerning="yes" embed-url="fonts/ttf/Raleway-BoldItalic.ttf">
          <font-triplet name="SampleFont" style="italic" weight="bold"/>
        </font>
      </fonts>
    </renderer>
  </renderers>
</fop>
